#homepage-header.banner1 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_c-318d7eed.jpg);
}

#homepage-header.banner2 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists-8081257b.jpg);
    background-size: var(--content-width);
}

#homepage-header {
    width: var(--content-width);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

#homepage-header button {
    border-radius: 5px;
    height: 2.2rem;
    font-size: 1em;
    padding: 0 30px;
    color: white;
    cursor: pointer;
}

#readme-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px white solid;
}

#readme-button:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

#github-button {
    background-color: #f50;
    border: 1px #f50 solid;
}

#homepage-topbar {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

#homepage-navbar,
#homepage-topbar,
#homepage-home-container {
    height: var(--navbar-height);
}

#homepage-navbar {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    line-height: 1.5;
    width: var(--content-width);
    border-top: 4px solid #f50;
}

#homepage-navbar i.fa-cloudflare {
    font-size: 2.5em;
    color: white;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homepage-home-container {
    display: flex;
}

#homepage-home-container a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#homepage-home-container>a.active {
    background-color: rgba(0, 0, 0, 0);
}

.fa-cloudflare>span {
    font-size: 9px;
    font-style: italic;
    position: relative;
    bottom: 6px;
}

#homepage-home-container ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline-start: 0px;
}

#homepage-home-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100px;
    height: 100%;
    position: relative;
}

#header-switch-buttons {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 50px 0;
}

.switch-button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px white solid;
    cursor: pointer;
}

.switch-button.this-one {
    background-color: white;
}

#homepage-content {
    width: var(--content-width);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#queue-test {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
    position: relative;
}

.queue-test-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

#queue-test button {
    background-color: white;
    font-size: 1em;
    box-sizing: border-box;
    cursor: pointer;
}

#queue-test button:hover {
    border: 2px solid #f50;
    color: #f50;
}

.queue-test-song-info {
    font-size: 0.65em;
    width: 240px;
    position: absolute;
    bottom: 7px;
}

.queue-test-song-info>span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #555;
}

.queue-test-song-info>span:hover {
    color: #f50;
}

#homepage-sampler {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    padding: 10px;
}

#homepage-sampler>ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#homepage-sampler img {
    width: 240px;
}

#homepage-sampler>ul>li {
    border: 1px solid black;
    padding: 20px 20px 10px 20px;
    background: linear-gradient(#f50, white 80%);
    cursor: pointer;
}

#homepage-sampler>ul>li:hover span {
    color: #f50;
    border-bottom: 1px solid #f50;
}

.demo-button {
    background-color: #f50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    justify-self: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.demo-button:hover {
    box-shadow: 0px 0px 15px #fff;
}
