:root {
    --carousel-width: 1000px;
}

.carousel {
    display: flex;
    width: var(--carousel-width);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel>li {
    width: 173px;
    margin-right: 20px;
}

.carousel img {
    width: 173px;
    height: 173px;
    cursor: pointer;
    object-fit: cover;
}

.scroll {
    position: absolute;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    border: 2px solid #777;
    color: #777;
}

.scroll:hover {
    border-color: #f50;
    color: #f50
}

.scroll-left {
    left: -0.75em;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--carousel-width);
    position: relative;
}

.scroll-right {
    right: -0.75em;
}

.carousel-container::after {
    content: "";
    height: 2px;
    background-color: #ebebeb;
    width: 95%;
    margin: 25px;
    border-radius: 1px;
}

.carousel-item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.song-carousel-artist:hover {
    text-shadow: #f50 0 0 4px;
    cursor: pointer;
}
