ul.song-list {
    width: 100%;
}

ul.song-list a>img {
    height: 250px;
}

ul.song-list>li {
    display: flex;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(342deg, #777, #fff 50%)
}

.item-divider {
    content: "";
    height: 2px;
    background-color: #ebebeb;
    width: 95%;
    margin: 25px;
    margin-top: 0px;
    border-radius: 1px;
}

#user-tabs {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
}

#user-tabs>a {
    box-sizing: border-box;
    margin: 8px 10px;
    font-size: 1.2rem;
    color: black;
}

#user-tabs>a.active {
    background: unset;
    color: #f50;
    border-bottom: 2px #f50 solid;
}

#user-tabs>a:hover:not(.active) {
    border-bottom: 2px black solid;
}

.song-list-details {
    display: grid;
    grid-template-areas:
        "button artist date"
        "button title genre"
        "waveform waveform waveform"
        "buttons1 buttons2 stats";
    grid-template-columns: 50px 1fr max-content;
    grid-template-rows: 22px 28px 200px 22px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
}

.song-list-details>i:hover {
    background-color: #eb5100;
}

.song-list-details>i {
    color: #fff;
    font-size: 20px;
    width: 37px;
    height: 37px;
    background-color: #f50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 4px;
    box-sizing: border-box;
}

div.waveform {
    height: 220px;
    width: 100%;
}

.queue-button {
    color: #555;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
    width: max-content;
}

.queue-button:hover {
    color: #f50;
}
