#album-detail-header {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    background: linear-gradient(160deg, #333, #f50);
    width: 100%;
    height: 300px
}

#album-image {
    height: 100%
}

#album-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    width: 100%;
}

#album-header-upper-left {
    display: flex;
}

#album-header-upper-left>i {
    color: #fff;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: #f50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 4px;
    box-sizing: border-box;
}

#album-header-upper-left>div {
    display: flex;
    flex-direction: column;
}

#album-header-upper-left>div>span {
    padding: 2px 4px;
    margin: 3px 0px;
    box-sizing: border-box;
    background-color: black;
    width: max-content;
}

#album-number-of-tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0.6em;
}

#album-number-of-tracks .number {
    font-size: 2em;
    font-weight: bold;
}
