/* TODO Add site wide styles */
a {
    text-decoration: none;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
}

body {
    box-sizing: border-box;
    width: 100vw;
    /* height: 100vh; */
    margin: 0px;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(1vw, 1240px);
    height: max(max-content, 100vh);
}

audio {
    position: sticky;
    width: 100%;
    bottom: 0px;
    border-radius: 0px;
}

* {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}
