/* TODO Add site wide styles */
:root {
    --navbar-height: 50px;
    --music-player-height: 53px;
}

a {
    text-decoration: none;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
}

body {
    box-sizing: border-box;
    /* width: calc(100vw-var(0)); */
    /* height: 100vh; */
    margin: 0px;
    background-color: #ebebeb;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1240px;
    background-color: white;
}

* {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

html {
    overflow-y: scroll;
}
