#navbar {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: #333;
    font-size: 14px;
    line-height: 1.5;
    width: max(1vw, 1240px)
}

#navbar,
#topbar,
#top-bar-offset {
    height: 50px;
}

#top-bar-offset {
    min-height: 50px;
}

#topbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
}

#navbar #home-container i {
    font-size: 2.5em;
    color: #f50;
    background-color: black;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar span {
    flex-direction: row;
}

.menu-open {
    background-color: black;
}

#home-container {
    background-color: #333;
    height: 100%;
    display: flex;
    align-items: center;
}

#home-container a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-cloudflare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-cloudflare>span {
    font-size: 9px;
    font-style: italic;
    position: relative;
    bottom: 6px;
}

.active,
#home-container .active li {
    background-color: black;
    color: #fff;
}

#home-container ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline-start: 0px;
}

#home-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(127, 127, 127);
    list-style-type: none;
    width: 100px;
    text-align: center;
    transition: color 200ms;
    height: 100%;
}

#home-container li:hover {
    color: #fff;
}

#navbar i#drop-down-arrow {
    width: min-content;
}

#profile-image {
    height: 70%;
    border-radius: 50%;
}

.fa-user {
    aspect-ratio: 1/1;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profile-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 240px;
    padding: 0 0 0 4px;
}

#drop-down-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-dropdown {
    position: absolute;
    top: 35.5px;
    background-color: #fff;
    color: #333;
    border-radius: 0 0 5px 5px;
    border: #333 1px solid;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 2px 0 4px 4px;
}

.profile-dropdown li {
    display: inline-block;
    list-style-type: none;
}

.modal-button {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    margin: 5px;
    border-radius: inherit;
    color: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#login-modal-button {
    background-color: #333;
    border: rgb(127, 127, 127) solid 1px;
    transition: border 200ms;
}

#login-modal-button:hover {
    border: #fff solid 1px;
}

#signup-modal-button {
    background-color: #f50;
    border: none;
}

#signup-modal-button {
    margin: 5px;
    background-color: #f50;
    color: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 5px 10px;
}

.profile-dropdown>li>a>i {
    display: inline;
}

.profile-dropdown {
    color: black;
}
