#topbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#navbar {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: #333;
    font-size: 14px;
    line-height: 1.5;
    width: 1240px;
}

#navbar,
#topbar,
#top-bar-offset {
    height: var(--navbar-height);
}

#top-bar-offset {
    min-height: var(--navbar-height);
}


#navbar #home-container i {
    font-size: 2.5em;
    color: #f50;
    background-color: black;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar span {
    flex-direction: row;
}

.menu-open {
    background-color: black;
}

#home-container {
    background-color: #333;
    height: 100%;
    display: flex;
    align-items: center;
}

#home-container a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-cloudflare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-cloudflare>span {
    font-size: 9px;
    font-style: italic;
    position: relative;
    bottom: 6px;
}

.active,
.active>#upload-button,
#home-container .active li {
    background-color: black;
    color: #fff;
}

#home-container ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline-start: 0px;
}

#upload-button,
#home-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(127, 127, 127);
    list-style-type: none;
    width: 100px;
    transition: color 200ms;
    height: 100%;
    position: relative;
}

#home-container li::after {
    content: "";
    width: 1px;
    height: 100%;
    background: black;
    position: absolute;
    right: 0;
}

#upload-button:hover,
#home-container li:hover {
    color: #fff;
}

#navbar i#drop-down-arrow {
    width: min-content;
}

#profile-image {
    height: calc(var(--navbar-height) * 0.7);
    width: calc(var(--navbar-height) * 0.7);
    border-radius: 50%;
    object-fit: cover;
}

.fa-user {
    aspect-ratio: 1/1;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profile-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 220px;
    position: relative;
    cursor: pointer;
}

#drop-down-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-dropdown {
    position: absolute;
    width: 220px;
    /* height: 80px; */
    top: 50px;
    background-color: #fff;
    color: #333;
    border-radius: 0 0 5px 5px;
    border: #333 1px solid;
    display: flex;
    flex-direction: column;
    padding: 2px 0 4px 4px;
    box-sizing: border-box;
}

.profile-dropdown>li i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    width: 1.5em;
}


.profile-dropdown {
    color: black;
    cursor: default;
}

.profile-dropdown li {
    display: flex;
    list-style-type: none;
}

.modal-button {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    margin: 5px;
    border-radius: inherit;
    color: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#login-modal-button,
#signup-modal-button {
    background-color: #333;
    border: rgb(127, 127, 127) solid 1px;
}

#login-modal-button:hover,
#signup-modal-button:hover {
    border: #fff solid 1px;
    background-color: #f50;
}

/* #signup-modal-button {
    background-color: #f50;
    border: none;
} */

/* #signup-modal-button {
    margin: 5px;
    background-color: #f50;
    color: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 5px 10px;
} */

#nav-bar-upload-button {
    color: #999;
}

.logout {
    color: #777;
}

.logout span:hover,
.logout i:hover,
.logout span:hover+i,
.logout i:hover+span {
    color: #f50;
}
